/* Declaring some color variables here to make it easier to change theme down the line */
:root {
    --main: black;
    --bg: white;
    --header: black;
    --red: #e74c3c;
    --gray: gray;
    --lightgray: lightgray;
    --xlightred: #e74c3c33;
    --xlightgray: #ecf0f166;
    --font-mono: SFMono-Regular, Consolas, Roboto Mono, Droid Sans Mono, Liberation Mono, Menlo, Courier, monospace;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: grid;
    width: 100vw;
    justify-content: center;
    color: var(--main);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: var(--bg);
    line-height: 1.6;
}

.container {
    width: 642px;
    max-width: 100vw;
    padding: 0px 20px 0px 20px;
}

main {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 800;
    color: var(--header);
}

blockquote {
    border-left: 10px solid var(--xlightgray);
    margin-left: 5px;
    padding-left: 25px;
}

div.tldr {
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--xlightgray);
    border: none;
    border-top: 2px solid var(--main);
    border-bottom: 2px solid var(--main);
}

div.erratum {
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--xlightred);
    border: none;
    border-top: 2px solid var(--main);
    border-bottom: 2px solid var(--main);
}

div#header {
    border-bottom: 2px solid var(--main);
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
    overflow-x: scroll;
    white-space: nowrap;
}

div#logo a {
    color: var(--main);
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: var(--main);
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px var(--main);
    color: var(--gray);
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

@supports (initial-letter: 4) or 
          (-webkit-initial-letter: 4) {
  .post-content > p:first-of-type::first-letter {
      margin-top: 10px;
      color: var(--red);
      font-weight: 900;
      margin-right: 5px;
      -webkit-initial-letter: 4;
      initial-letter: 4;
  }
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: var(--gray);
    font-size: 14px;
    font-style: italic;
}

.post-list-date {
    font-style: italic;
}

a {
    font-weight: 800;
    color: var(--main);
    text-decoration: none;
    transition: 0.1s all;
}

a:hover {
    color: var(--red);
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    padding-top: 5px;
}

code:not(.sourceCode) {
    background-color: var(--xlightgray);
    border-radius: 3px;
    padding: 3px;
    color: var(--red);
    font-family: var(--font-mono);
}

pre.sourceCode {
    background-color: var(--xlightgray); 
    padding: 1rem; 
    border-radius: 5px;
    overflow-x: scroll;
}

code.sourceCode {
    font-family: var(--font-mono);
    font-size: 0.8rem;
}

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }
