<img src="/images/ccfp.png" style="float: right; margin: 10px;">

<p>Welcome to the blog for the <a href="https://www.meetup.com/Cape-Cod-Functional-Programming-Meetup/">Cape Cod Functional Programming Meetup</a>!</p>

<p>It&rsquo;s pretty sparse for now but feel free to contribute! The code is hosted on GitLab (<a href="https://gitlab.com/ccfp/blog">gitlab.com/ccfp/blog</a>). If you&rsquo;re learning Git, this could be a great opportunity&mdash;let me know of any typos or errors in a pull request, or edit the existing Markdown (<code>.md</code>) files in the posts directory. If you&rsquo;re feeling inspired, clone the repo or copy a post to use as a template to write your own. The hope is that this will be less a personal blog and more of a shared space to document our learning.</p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
